/*    Layout.css
    Overall Layout
  */

* {
  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 90%;
  margin: 0px auto;
  background-color: beige;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90px auto max-content;
}

header {
  position: relative;
  background-color: tomato;
  background-color: tan;

  box-shadow: 4px 4px 6px SaddleBrown,  -4px 4px 6px SaddleBrown;

  display: grid;
  grid-template-columns: min-content 1fr;
}

header div {
  /* background-color: red; */
}
header menu {
  /* background-color: white; */
  /* margin: auto 0px; */
  margin: auto auto;
}
menu a {
  /* background-color: beige; */
  text-decoration: none;
  color: Sienna;
  box-shadow: 2px 2px 4px black;

  margin: 0px 6px;
  padding: 1px 4px;

}

.Content {
  /* background-color: tan; */
  background: linear-gradient(135deg, tan, Sienna);
  scroll-behavior: smooth;
  overflow: auto;

  padding: 5px 10px;
}

footer {
  background-color: beige;
  padding: 4px 10px;

  display: grid;
  grid-template-columns: auto 1fr auto;
}


footer {
  font-size: 0.8rem;  /* Make the same as img width */
}
footer img {
  width: 0.8rem;  /* Make the same as font-size */
}
footer .Version {
  font-size: 0.65em;
}

footer a {
  margin: 0 auto; /* Center Facebook link */
}





/*  */
