/*      Main.Css
   Majority of styling goes here
 */

html {
  /* Color variable definitions */
  --DarkestColor: #8C5426;
  --DarkerColor: #a0522d; /* Sienna; */
  --DarkColor: #dCa476;
  --MediumColor: #d2b48c; /* tan; */
  --NormalColor: blanchedalmond;
  --LightColor: beige;
  --SkyBlue: #009cd8;

  --FancyFont: "Calisto MT", Georgia, serif;
  --NiceFont: 'Trebuchet MS', "Lucida Sans", sans-serif;
  --SharpFont: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --CursiveFont: 'Brush Script MT', 'Brush Script Std', cursive; /* Hard to read, not on Cell phones */
  --FantasyFont: Copperplate, Papyrus, fantasy;
}

body {
  /* font-family: var(--FancyFont); */
  /* font-family: var(--NiceFont); */
  /* font-family: var(--SharpFont); */
  /* font-family: var(--CursiveFont); */
  font-family: var(--FantasyFont);
  font-size: 14px;
}

hr {
  border: 2px inset var(--MediumColor);
  margin: 10px 0px;
}


header {
  text-transform: capitalize;
}

header .Name {
  display: inline-block; /* So that transform works */

  text-transform: uppercase;

  color: var(--DarkerColor); /* Sienna; */
  font-size: 1.0rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px Black;
}
header .First {
  /* background-color: yellow; */

  transform: translate(12px, 20px) rotate(-45deg );
}
header .Last {
  /* background-color: cyan; */

  transform: translate(2px, 10px) rotate( -45deg );
}
header img {
  transform: translate(10px, -6px) rotate( 45deg );
}

footer {
  color: var(--DarkerColor); /* Sienna; */
}

a {
  text-decoration: none; /* Git rid of underlines */
}

.Icon {
  height: 64px;
}

menu a {
  color: black;
  text-shadow:   1px 1px 1px var(--DarkerColor); /* Sienna; */
}

.CurrentMenu {
  background-color: var(--MediumColor); /* tan; */
  text-shadow: 0px 0px 5px var(--DarkerColor); /* Sienna; Subtle blury background */
}

.Version {
  margin-left: 8px;
}


.Hidden, .HideContent {
  display: none;
}




/*  */
