/*
 *     RollUpDown.css
 */

.RollUpDown {
  border: solid 1px gray;
  border-radius: 6px;
  margin: 10px 0px;
  padding: 4px;
  box-shadow: 4px 4px 2px var(--NECCDarkGreen), -2px -2px 2px var(--NECCGreen);

  height: min-content; /* Will shrink to height of .Title when we shrink the .RollDownContent  */
}

.RollUpDown .Title {
  border-radius: 4px;

  cursor: pointer;
  text-transform: uppercase;

  /* Keep the Title in view! Thanks to Kevin Powel */
  position: sticky;
  top: 0px;
}
.RollUpDown .Title::before {
/*  content: "\25bc"; /* DOWN ARROW. The html escape chars do NOT work here &dArr; or &#8595; */
/*  content: " \21af \21b0 \21b1 \21b2 <-  \21b3 \21b4 \21b5 \21b6 --  \21b7 \21b8 \21b9 \21ba  ->  \21bc \21bd \21be \21bf"; */
  content: "\21b4"; /* OVER & DOWN ARROW. */
  font-weight: bolder;
  margin-right: 4px;
}
.RollDown .Title::before {
  content: "\2612"; /* [X]. The html escape chars do NOT work here &dArr; or &#8595; */
}
.RollUpDown .Title:hover {
  opacity: 0.65;
}

.RollDownContent {
  height: 0px;
  min-height: 0px; /* Need this for transition, since the .RollDown state does not specify height, just min-height */

  opacity: 0;
  transition: opacity 0.335s ease-in-out, min-height 0.335s ease-in-out;

  /* When we're rolled up, don't let the inner html elements cover up the other RollUpDown sections */
  overflow-y: hidden;

  display: grid;
  grid-template-rows:
        max-content
        1fr;
}
.RollDown .RollDownContent {
  min-height: 680px;

  opacity: 1;

  transition: opacity 0.45s ease-in-out, min-height 0.45s ease-in-out;
}
.RollDownContent p {
  padding: 6px 8px;
  overflow: hidden;
}
.RollDownContent div {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.RollUpDown object {
  width: 100%;
  height: 100%;
}






/*  */
