/*    Tutorial.css

 */

.Tutorial {
  margin-top: 2rem;
}


.Tutorial h2 {
  text-align: center;
}


.Tutorial h3 {
  margin-top: 1.0rem;
}


.Tutorial p {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}


.Tutorial ol, .Tutorial ul {
  /* list-style-type: ""; */
  padding-left: 2rem; /* 1rem is better if we set style-type to "" (disable #'s') */
}


.Tutorial li {
  margin-bottom: 0.25rem;
}


.Tutorials {
  margin: 20px 10px;
  box-shadow: 4px 4px 6px black;
}

.Tutorials div {
  margin: 6px 6px;
  background-color: var(--MediumColor);
  background: linear-gradient(-45deg, var(--MediumColor), var(--DarkerColor));

  cursor: pointer;
}

.Tutorials .ListEntry {
  text-align: center;
}



/*  */
