/*
      test.css
 */


table {
  border: solid 2px var(--DarkestColor);
  border-collapse: collapse;
}

thead tr {
  background: var(--DarkColor);
}

td, th {
  padding: 0 10px;
  border-bottom: solid 1px var(--DarkestColor);
}

td {
  text-align: right;
}

tr:last-of-type td {
  border: initial;
}




#nav {
  height: 50px;
  position: sticky;
  top: 20px;

  background-color: #f33;
  /* z-index: 10; */
}
#card {
  position: relative;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  min-height: 1200px;

  margin: 0px 50px;
}





/*  */
